.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    padding: 5px;
    margin: 0 6px 6px;
    background: #363a48f6;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white;
}

.active {
    color: #eef0f450;
}

.book-card{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(36, 36, 36, 0.134);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.book-card .book-img{
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.book-card .wishlist{
    background-color: rgba(51, 59, 54, 0.463);
}

.show-book-form{
   text-align: center;
   padding: 1rem;
   background: #363a48f6;
   color: white;
}

.form-case{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
    text-align: center;
}

.form-case .form-header{
    text-align: center;
}
.form-case .form{
    width: 300px;
    margin-left: 20px;
    font-size: 20px;
}

.form-case .form .form-input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

.form-case .form .form-input-submit{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
    background-color: rgba(51, 59, 54, 0.463);
}

.welcome {
    position: fixed;
    top:30%;
    left: 20%;
    font-size: 100px;
}

.welcome-btn {
    text-align: center;
    position: fixed;
    top:58%;
    left: 45%;
    font-size: 20px;
}

.signup-to-login {
    text-align: center;
}

.login-to-signup {
    
    text-align: center;
}

.books-header {
    text-align: center;
}

.wishlist-header {
    text-align: center;
}
body{
    background-color:rgba(206, 231, 218, 0.13);
    
}

.login-btn {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
    background-color: rgba(51, 59, 54, 0.463);
}

.signup-btn {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
    background-color: rgba(51, 59, 54, 0.463);
}

.show-update-form{
    text-align: center;
    padding: 1rem;
    background: #363a48f6;
    color: white;
 }

 .user-profile {
    text-align: center;
 }

 .logout-header {
    text-align: center;
 }

.yes-no {
    text-align: center;
    font-size: x-large;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensure it appears above other content */
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-width: 800px;
    height: 70%;
    max-height: 700px;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

.close-popup:hover {
    color: #333;
}

.view-details {
    background-color: rgba(51, 59, 54, 0.463);
}

.book-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.book-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

